.regnew
  .regnew__container
    .regnew__container__box
      .regnew_container__box__symbol
        %a.image
        = link_to image_tag("logo.png", size: '185x50'), root_path

.main
  .main__container
    .main__container__title
      新規会員登録
    .main__container__form
      .main__container__form__fields
        .main__container__form__fields__field
          .category
            %label(for="")
              ニックネーム
            %span.span
              必須
            .input-defaults
              %input.input-defaults__default{type: "text", placeholder: "例）遠州大魔王"}
        .main__container__form__fields__field
          .category
            %label(for="")
              メールアドレス
            %span.span
              必須
            .input-defaults
              %input.input-defaults__default{type: "text", placeholder: "PC・携帯どちらでも可"}    
        .main__container__form__fields__field
          .category
            %label(for="")
              パスワード
            %span.span
              必須
            .input-defaults
              %input.input-defaults__default{type: "text", placeholder: "7文字以上の半角英数字"}
          .form-info-text
            ※英字と数字の両方を含めて設定してください
          %span.form-info-text
            パスワードを表示する
        .main__container__form__fields__field
          %h3
            本人確認
          .form-info-text
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .main__container__form__fields__field
          .category
            %label(for="")
              お名前
            %span.span
              必須
            .input-defaults
              %input.input-defaults__default{type: "text", placeholder: "例）遠州"}
              %input.input-defaults__default{type: "text", placeholder: "例）大魔王"}
        .main__container__form__fields__field
          .category
            %label(for="")
              お名前カナ(全角)
            %span.span
              必須
            .input-defaults
              %input.input-defaults__default{type: "text", placeholder: "例）エンシュウ"}
              %input.input-defaults__default{type: "text", placeholder: "例）ダイマオウ"}
        
        .main__container__form__fields__field
          .category
            %label(for="")
              自己紹介
            .input-defaults
              %textarea.input-defaults__intro{type: "text", placeholder: "例）地球の平和を守るため、皆さんのお役に立てるものを、色々売っています。"}
              
              %br
        .main__container__form__fields__field
          .category
            %label 生年月日
            %span.span
              必須 
            %br     
            .main__container__form__fields__field__select
              .main__container__form__fields__field__select__wrap
                
                .main__container__form__fields__field__select__wrap__selector
                  %select.main__container__form__fields__field__select__wrap__selector__selector1
                   
                .pan
                  年
              .main__container__form__fields__field__select__wrap
               
                .main__container__form__fields__field__select__wrap__selector
                  %select.main__container__form__fields__field__select__wrap__selector__selector2
                  
                .pan
                  月
              .main__container__form__fields__field__select__wrap
                
                .main__container__form__fields__field__select__wrap__selector
                  %select.main__container__form__fields__field__select__wrap__selector__selector3
                  
                .pan
                  日
              .main__container__form__fields__field__select__subtext ※本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

            .main__container__form__fields__field__select
              = check_box_tag :name, "", "", checked: false, class: "checkbox-default" 
              私はロボットではありません
            .main__container__form__fields__field__select
              .form-info-text 「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
            .main__container__form__fields__field__submit
              %submit.main__container__form__fields__field__submit__btn 次へ進む
              
            .main__container__form__fields__field__select
              .main__container__form__fields__field__select__reg
                本人情報の登録について
                %i.fas.fa-chevron-right
.single
  .single__footer
    .single__footer__nav
      .single__footer__nav__con
        .single__footer__nav__con__li
          プライバシーポリシー
        .single__footer__nav__con__li
          メルカリ利用規約
        .single__footer__nav__con__li
          特定商取引に関する表記
    = link_to root_path, data: {"turbolinks": false} do
      = image_tag("logo.png", size: '180x50')
    %p
      ©&nbsp;Fmarket,&nbsp;Inc.
