%nav.mypagehed-right
  %ul.main-header-user-nav 
    %li
      .main-header-menu-link
        %i.fas.fa-heart
        %span いいね!一覧
    %li
      .main-header-menu-link
        %i.fa.fa-bell
        %span お知らせ
    %li
      .main-header-menu-link
        %i.fa.fa-check
        %span やることリスト
    %li
      .main-header-menu-link

        = link_to "マイページ",users_path, class: "decoration-none" 
