$basic_font: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
$basic_aomidori: #3ccace;
$basic_black: #333333;
$basic_white: #ffffff;


.foot {
  margin-top: 3300px;
  .footer {
    width: 100%;
    height: 700px;
    background-color: rgb(34, 34, 34);
    &__image {
      height: 400px;
      width: 100%;
      background-image: image-url("bg-appBanner-pict.jpg");
      background-size: cover;
      &__decorate {
        width: 750px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        &__left {
          padding: 60px 0;
          margin-left: 20%;    
          &__upper {
            font-weight: bold;
            color: $basic_white;
            font-size: 24px;
            margin-bottom: 8px;
            margin-left: 40px;
          }
          &__middle {
            color: $basic_white;
            font-size: 35px;
            margin-bottom: 6px;
          }
          &__below {
            margin-top: 70px;
            .footer-logo {
              padding: 12px 9px;
              background-color: $basic_white;
              border-radius: 8px;
              width: 69px;
              height: 69px;
              box-sizing: border-box;           
            }
            .appstore {
              position: relative;
              bottom: 13px;
              margin-left: 30px;
            }
            .googleplay {
              position: relative;
              bottom: 13px;
              margin-left: 30px;
            }
          }
        }
      }
    }
    &__box {
      height: 260px;
      padding: 20px 70px 0 120px;
      &__upper {
        height: 80%;
        font-size: 12px;
        display: flex;
        justify-content: center;
        p {
          padding: 5px 0;
          color: $basic_white;
          opacity: 0.7;
          cursor: pointer;
        }
        b {
          width: 100%;
          padding: 5px 0;
          color: $basic_white;
          font-weight: bold;
          font-size: 16px;
        }
        &__1 {
          padding-right: 10px;
          width: 22%;
          text-align: left;
          i {
            color: $basic_white;
            font-size: 30px;
            padding: 25px 12px 0 0;
            cursor: pointer;
          }
          .facebook {
            color: $basic_white;
            font-size: 30px;
            padding: 25px 12px 0 0;
            cursor: pointer;
          }
        }
        &__2 {
          width: 25%;
          text-align: left;
        }
        &__3 {
          padding-right: 30px;
          width: 20%;
          text-align: left;
          a {
            text-decoration: none;
          }
        }
      }
      &__below {
        display: flex;
        &__1 {
          width: 140%;
          a {
            display: flex;
            text-decoration: none;
            margin-left: 100%;
            img {
              width: 120px;
            }
            li {
              list-style: none;
              padding: 8px 0 0 10px;
              color: $basic_white;
              font-size: 18px;
            }
          }
        }
        &__2 {
          width: 25%;
          height: 30%;
        }
        &__3 {
          font-size: 12px;
          color: $basic_white;
          width: 100%;
          margin-right: 30%;
          margin-top: 40px;
          display: block;
        }
      }
    }
  }
}

